# Overall Problem Statement
The problem asks to use Open Weather Map's API (Application Programming Interface) to query forecasted temperature data. You will write your results to a CSV file.

## Introduction

1. Use the OpenWeatherMap API to query future-day forecasts containing expected daily weather conditions for 16 different cities.
2. Parse the Python variables returned by the API to extract the the minimum and maximum forecast temperature temperatureMini and temperatureMaxi in Celsius for each of the upcoming four (4) days.
3. Compute the average minimum and maximum forecast temperatures Minavg and Maxavg for the upcoming four (4) days.

## Cities to Query

1. Bengaluru, India
2. Glasgow, Scotland
3. Gumi, South Korea
4. Lagos, Nigeria
5. Nanaimo, Canada
6. Niskayuna, New York
7. Nizhny Novgorod, Russia
8. Olongapo, Philippines
9. Peshawar, Pakistan
10. Peterhead, Scotland
11. Quito, Ecuador
12. Simmern, Germany
13. Tainan, Taiwan
14. Tbilisi, Georgia
15. Vinh Long, Vietnam
16. Xi'an, China


## Locating "Tomorrow"

Your 4-day forecast starts at midnight tomorrow, and includes tomorrow plus the three days following tomorrow. For example, if the date when you run your program is August 23, you would provide a 4-day forecast for August 24 through August 28.



# Solution

The solution is completely automated. The user can change the number of days or add a city to get extra details. Except that everything is automated.
API is used to pull the data from Open Weather Map website.

There are 3 "for loops":

1. Looping the cities
2. Looping for the days we are interested in
3. Looping to get the min and max for each day



The notebook is fully commented and it can be used directly - Create an account in Open Weather Map and get the api key and run this program.

In [1]:
# Import functions
import pprint
import requests
import pandas as pd
import json
import calendar
from datetime import datetime, timezone
from dateutil.relativedelta import relativedelta
from decimal import *

# Intermediate and Final empty dataframes
df_ = pd.DataFrame()
df_main = pd.DataFrame()

# Look ahead period
days = 4

# Getting UTC's today date
today = datetime.now(timezone.utc).date()

# Interested cities
city = ["Bengaluru,India",                                                                                   
        "Glasgow,Scotland",
        "Gumi,South Korea",
        "Lagos,Nigeria",
        "Nanaimo,Canada",
        "Niskayuna,New York",
        "Nizhny Novgorod,Russia",
        "Olongapo,Phillipines",
        "Peshawar,Pakistan",
        "Peterhead,Scotland",
        "Quito,Ecuador",
        "Simmern,Germany",
        "Tainan,Taiwan",
        "Tbilisi,Georgia",
        "Vinh Long,Vietnam",
        "Xi'an,China"]

# Main Program
for city_i in city:                                                                                                 # Loop data for all cities
    api_key = '********************************'                                                                    # Enter your API
    URL_ = 'http://api.openweathermap.org/data/2.5/forecast?'                                                       # URL for program
    URL = URL_ + 'q='+city_i+'&appid=' + api_key + '&units=metric'                                                  # units:in Celcius[official doc]
    response = requests.get( URL )
    df_['City'] = [city_i]                                                                                          # Add city name to intermediate df
    if response.status_code == 200:                                                                                 # Success
        data = response.json()
        printer = pprint.PrettyPrinter(width=80, compact=True)
        for i in range (1,days+1):                                                                                  # Loop data for all days
            next_day = today + relativedelta(days=i)                                                                # Get date for future
            next_day = next_day.strftime("%Y-%m-%d")                                                                # Convert to string; used below
            min_day_list = []                                                                                       # Empty list: 
            max_day_list = []                                                                                         # Store min & max temp
            for k in range(len(data["list"])):                                                                      # Get the min and max for full day
                if data["list"][k]["dt_txt"].split()[0] == next_day:                                                # Loop for interested dates
                    max_day_list.append(data["list"][k]["main"]["temp_max"])                                        # Append min and max for each day: 
                    min_day_list.append(data["list"][k]["main"]["temp_min"])                                          # to empty list
            df_['Min' + ' ' + str(i)] = min(min_day_list)                                                           # For a given day in df:
            df_['Max' + ' ' + str(i)] = max(max_day_list)                                                            # get max,min from lists & store
        df_['Min Avg'] = float('%.2f'%(df_[df_.columns[pd.Series(df_.columns).str.contains('^Min [0-9]+')]].mean(axis=1)))  # For a given day in df: 
        df_['Max Avg'] = float('%.2f'%(df_[df_.columns[pd.Series(df_.columns).str.contains('^Max [0-9]+')]].mean(axis=1)))  # get min,max Average & round
    else:                                                                                                           # Failure
        print( 'Error:', response.status_code )
    df_main = pd.concat([df_main,df_])                                                                              # Concat intermediate with final

# df_main.to_csv('output.csv', index=False)                                                                              # Write the o/p to csv
df_main

,City,Min 1,Max 1,Min 2,Max 2,Min 3,Max 3,Min 4,Max 4,Min Avg,Max Avg
0,"Bengaluru,India",17.81,21.97,18.46,24.92,18.22,25.66,17.85,25.20,18.09,24.44
0,"Glasgow,Scotland",4.25,5.87,4.21,6.68,6.15,9.67,5.79,8.45,5.10,7.67
0,"Gumi,South Korea",10.73,13.75,7.10,15.62,5.12,13.18,6.15,15.69,7.28,14.56
0,"Lagos,Nigeria",24.51,30.42,23.89,32.06,24.38,33.53,24.73,33.47,24.38,32.37
0,"Nanaimo,Canada",6.18,7.45,5.99,8.25,7.89,9.57,4.88,11.43,6.23,9.18
0,"Niskayuna,New York",-0.59,4.18,-0.69,6.89,0.75,7.60,1.86,9.69,0.33,7.09
0,"Nizhny Novgorod,Russia",-9.04,-2.09,-1.58,0.50,-1.21,-0.70,-2.14,-1.04,-3.49,-0.83
0,"Olongapo,Phillipines",24.78,30.88,24.91,31.22,24.90,30.21,24.74,30.36,24.83,30.67
0,"Peshawar,Pakistan",14.71,22.56,14.01,22.14,14.16,22.22,14.53,22.04,14.35,22.24
0,"Peterhead,Scotland",6.35,8.14,8.25,8.85,6.74,9.80,7.26,9.61,7.15,9.10
0,"Quito,Ecuador",9.05,14.35,7.78,17.85,8.02,17.59,8.96,15.63,8.45,16.36
0,"Simmern,Germany",3.34,5.08,3.44,6.45,4.16,6.89,4.19,7.59,3.78,6.50
0,"Tainan,Taiwan",23.98,26.96,23.12,25.92,23.62,25.79,23.57,27.08,23.57,26.44
0,"Tbilisi,Georgia",11.67,17.54,10.77,19.15,9.14,15.01,8.30,13.79,9.97,16.37
0,"Vinh Long,Vietnam",23.71,29.90,23.45,28.54,23.68,30.30,23.22,29.79,23.52,29.63
0,"Xi'an,China",8.32,12.92,8.82,11.43,9.14,15.28,9.24,16.73,8.88,14.09